<nav class="kiwi-navbar">
  <div class="row align-items-center no-gutters box-shadow-raised pt-1 px-3">
    <div class="col-1 text-center">
      <i class="fab fa-instagram font-size-xxl"></i>
    </div>
    <div class="col-10 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
      <%= image_tag "/img/logo.png", class: "kiwi-navbar-logo" %>
    </div>
    <div class="col-1 text-center">
      <i class="fab fa-whatsapp font-size-xxl"></i>
    </div>
  </div>
</nav>

<!-- Banners section -->
<%= render partial: "home/sections/product_banner" %>
<!-- End Banners section -->

<!-- Cards section -->
<div id="product-1" class="row no-gutters mx-3 my-3">
  <div class="col-12 my-3 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
    <span>Marcadores</span>
  </div>
  <div class="col-12">
    <div class="row no-gutters">
      <% 10.times do |i| %>
        <div class="col-12 col-md-6 col-lg-4 card">
          <div class="row m-2 m-md-3 no-gutters box-shadow-raised">
            <div class="col-6 mt-2 mb-3 card-height">
              <%= image_tag "/img/sample.png", class: "card-img" %>
            </div>
            <div class="col-6 mt-2 mb-3 card-height">
              <div class="pl-3 pr-2 d-flex flex-column height-100">
                <div class="font-weight-6 font-size-xl font-size-lt-md-xl pt-1"><span>Título del producto #<%= i + 1 %></span></div>
                <div class="mb-3 mt-auto font-family-helvetica font-size-lg"><span>$<%= rand(1..120) %>,<%= rand(100..999) %> COP</span></div>
                <div class="">
                  <a class="d-flex align-items-center justify-content-center kiwi-btn kiwi-btn--sm kiwi-btn--whatsapp font-family-helvetica color-white max-width-btn">
                    <i class="fab fa-whatsapp font-size-xl mr-3"></i>
                    <span>COMPRAR</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div id="product-2" class="row no-gutters mx-3 my-3">
  <div classname="product-1" class="col-12 my-3 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
    <span>Regalos</span>
  </div>
  <div class="col-12">
    <div class="row no-gutters">
      <% 3.times do |i| %>
        <div class="col-12 col-md-6 col-lg-4 card">
          <div class="row m-2 m-md-3 no-gutters box-shadow-raised">
            <div class="col-6 mt-2 mb-3 card-height">
              <%= image_tag "/img/sample.png", class: "card-img" %>
            </div>
            <div class="col-6 mt-2 mb-3 card-height">
              <div class="pl-3 pr-2 d-flex flex-column height-100">
                <div class="font-weight-6 font-size-xl font-size-lt-md-xl pt-1"><span>Título del producto #<%= i + 1 %></span></div>
                <div class="mb-3 mt-auto font-family-helvetica font-size-lg"><span>$<%= rand(1..120) %>,<%= rand(100..999) %> COP</span></div>
                <div class="">
                  <a class="d-flex align-items-center justify-content-center kiwi-btn kiwi-btn--sm kiwi-btn--whatsapp font-family-helvetica color-white max-width-btn">
                    <i class="fab fa-whatsapp font-size-xl mr-3"></i>
                    <span>COMPRAR</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div id="product-3" class="row no-gutters mx-3 my-3">
  <div class="col-12 my-3 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
    <span>Kits</span>
  </div>
  <div class="col-12">
    <div class="row no-gutters">
      <% 3.times do |i| %>
        <div class="col-12 col-md-6 col-lg-4 card">
          <div class="row m-2 m-md-3 no-gutters box-shadow-raised">
            <div class="col-6 mt-2 mb-3 card-height">
              <%= image_tag "/img/sample.png", class: "card-img" %>
            </div>
            <div class="col-6 mt-2 mb-3 card-height">
              <div class="pl-3 pr-2 d-flex flex-column height-100">
                <div class="font-weight-6 font-size-xl font-size-lt-md-xl pt-1"><span>Título del producto #<%= i + 1 %></span></div>
                <div class="mb-3 mt-auto font-family-helvetica font-size-lg"><span>$<%= rand(1..120) %>,<%= rand(100..999) %> COP</span></div>
                <div class="">
                  <a class="d-flex align-items-center justify-content-center kiwi-btn kiwi-btn--sm kiwi-btn--whatsapp font-family-helvetica color-white max-width-btn">
                    <i class="fab fa-whatsapp font-size-xl mr-3"></i>
                    <span>COMPRAR</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="product-4" class="row no-gutters mx-3 my-3">
  <div class="col-12 my-3 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
    <span>Kits</span>
  </div>
  <div class="col-12">
    <div class="row no-gutters">
      <% 5.times do |i| %>
        <div class="col-12 col-md-6 col-lg-4 card">
          <div class="row m-2 m-md-3 no-gutters box-shadow-raised">
            <div class="col-6 mt-2 mb-3 card-height">
              <%= image_tag "/img/sample.png", class: "card-img" %>
            </div>
            <div class="col-6 mt-2 mb-3 card-height">
              <div class="pl-3 pr-2 d-flex flex-column height-100">
                <div class="font-weight-6 font-size-xl font-size-lt-md-xl pt-1"><span>Título del producto #<%= i + 1 %></span></div>
                <div class="mb-3 mt-auto font-family-helvetica font-size-lg"><span>$<%= rand(1..120) %>,<%= rand(100..999) %> COP</span></div>
                <div class="">
                  <a class="d-flex align-items-center justify-content-center kiwi-btn kiwi-btn--sm kiwi-btn--whatsapp font-family-helvetica color-white max-width-btn">
                    <i class="fab fa-whatsapp font-size-xl mr-3"></i>
                    <span>COMPRAR</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<!-- End Cards section -->
