<nav class="kiwi-navbar">
  <div class="row align-items-center no-gutters box-shadow-raised pt-1 px-3">
    <div class="col-1 text-center">
      <a href="https://www.instagram.com/arte_kiwi/" target="_blank" class="color-black"><i class="fab fa-instagram font-size-xxl"></i></a>
    </div>
    <div class="col-10 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
      <%= image_tag "/img/logo.png", class: "kiwi-navbar-logo" %>
    </div>
    <div class="col-1 text-center">
      <a href="https://wa.link/btnclx" target="_blank" class="color-black"><i class="fab fa-whatsapp font-size-xxl"></i></a>
    </div>
  </div>
</nav>

<!-- Banners section -->
<%= render partial: "home/sections/product_banner" %>
<!-- End Banners section -->

<!-- Cards section -->
<% @sections.each do |section| %>
  <div id="<%= section.dig(:banner_id) %>" class="row no-gutters mx-3 my-3">
    <div class="col-12 my-3 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
      <span><%= section.dig(:title) %></span>
    </div>
    <div class="col-12">
      <div class="row no-gutters">
        <% section.dig(:products).each do |product| %>
          <div class="col-12 col-md-6 col-lg-4 card">
            <div class="row m-2 m-md-3 no-gutters box-shadow-raised">
              <div class="col-6 mt-2 mb-3 card-height">
                <%= image_tag product.dig(:image), class: "card-img" %>
              </div>
              <div class="col-6 mt-2 mb-3 card-height">
                <div class="pl-3 pr-2 d-flex flex-column height-100">
                  <div class="font-weight-6 font-size-lg font-size-lt-md-xl pt-1"><span><%= product.dig(:name) %></span></div>
                  <div class="mb-3 mt-auto font-family-helvetica font-size-lg"><span><%= product.dig(:price) %></span></div>
                  <div class="">
                    <a href="https://api.whatsapp.com/send?phone=<%= "+573175987665" %>&text=<%= product.dig(:whatsapp_message) %>" class="d-flex align-items-center justify-content-center kiwi-btn kiwi-btn--sm kiwi-btn--whatsapp font-family-helvetica color-white card-btn">
                      <i class="fab fa-whatsapp font-size-xl mr-3"></i>
                      <span>COMPRAR</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
<% end %>
<!-- End Cards section -->

<!-- Footer section -->
<footer class="w-100 d-flex flex-column text-center justify-content-center border-top-1">
  <!-- Texture -->
  <div class="w-10 position-relative z-index-default">
    <%= image_tag "/img/macha_verde.png", class: "position-absolute left-0" %>
  </div>
  <!-- Social -->
  <div class="w-100 d-flex justify-content-center mt-4 mb-2 z-index-footer">
    <a href="https://www.instagram.com/arte_kiwi/" target="_blank" class="color-black"><i class="fab fa-instagram font-size-xxl mx-2"></i></a>
    <a href="https://wa.link/btnclx" target="_blank" class="color-black"><i class="fab fa-whatsapp font-size-xxl mx-2"></i></a>
    <a href="https://www.facebook.com/artekiwioficial" target="_blank" class="color-black"><i class="fab fa-facebook font-size-xxl mx-2"></i></a>
  </div>
  <!-- Write us -->
  <div class="w-100 my-2 z-index-footer">
    Escríbenos: <a class="color-red font-weight-6" href="mailto:contacto@artekiwi.com">contacto@artekiwi.com</a>
  </div>
  <!-- Text -->
  <div class="w-100 my-2 mb-4 z-index-footer">
    &copy; Copyright 2020, Arte Kiwi – Hecho con ❤️
  </div>
</footer>
<!-- End Footer section -->
