<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="2">Precios</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.data.dig("physical_price") %></td>
        <td><%= link_to 'Editar', edit_admin_product_path(id: product.id) %></td>
        <td><%= link_to 'Eliminar', admin_product_path(id: product.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_admin_product_path %>
