<nav class="kiwi-navbar">
  <div class="row align-items-center no-gutters box-shadow-raised pt-1 px-3">
    <div class="col-1 text-center">
      <a id="instagram-navbar" href="https://www.instagram.com/arte_kiwi/" target="_blank" class="color-gray"><i class="fab fa-instagram font-size-xxl"></i></a>
    </div>
    <div class="col-10 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
      <%= link_to root_path do %>
        <%= image_tag "/img/logo.png", class: "kiwi-navbar-logo" %>
      <% end %>
    </div>
    <div class="col-1 text-center">
      <a id="whatsapp-navbar" href="https://wa.link/btnclx" target="_blank" class="color-gray"><i class="fab fa-whatsapp font-size-xxl"></i></a>
    </div>
  </div>
</nav>

<div id="urlSections" data-label="<%= @label %>" data-slug="<%= @slug %>"></div>

<!-- Product section -->
<section class="d-flex justify-content-center align-items-center">
  <div class="row no-gutters mx-3 py-4" style="max-width: 1220px;">
    <div class="col-12 col-md-6">
      <div id="imageContainer" class="carousel">
        <img data-src='<%= @presenter.dig(:image) %>' src='/img/web-thumbnail.jpg' align='left' alt='<%= @presenter.dig(:name) %>' class='lazyload img-fit' />
      </div>
    </div>
    <div class="col-12 col-md-6 mt-5 mt-md-0">
      <div class="ml-md-5">
        <div class="row no-gutters">
          <div class="col-12">
            <div id="nameContainer">
              <span class='font-family-chewy font-size-lg font-size-lt-md-xl pt-1'><%= @presenter.dig(:name) %></span>
            </div>
          </div>
          <div class="col-12">
            <div id="quantityContainer" class="mt-3">
              <%= @presenter.dig(:quantity).html_safe %>
            </div>
          </div>
          <% @presenter.dig(:prices).each do |price_group| %>
            <div class="col-12">
              <div class="mt-3">
                <%= price_group.dig(:label).html_safe %>
                <%= price_group.dig(:price).html_safe %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row no-gutters">
          <div class="col-12">
            <div>
              <ul id="descriptionContainer">
                <% @presenter.dig(:description).each do |item| %>
                  <li><%= item %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div id="purchaseContainer" class="mt-3">
              <%= link_to @presenter.dig(:whatsapp_message), id: @presenter.dig(:gtm_id), target: "_blank", class: "d-flex align-items-center justify-content-center kiwi-btn kiwi-btn--sm kiwi-btn--red font-family-work-sans color-white card-btn" do %>
                <i class='fab fa-whatsapp font-size-xl mr-3'></i>
                <span>COMPRAR</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product section -->

<!-- Footer section -->
<%= render partial: "common/footer" %>
<!-- End Footer section -->

