<nav class="kiwi-navbar">
  <div class="row align-items-center no-gutters box-shadow-raised pt-1 px-3">
    <div class="col-1 text-center">
      <a id="instagram-navbar" href="https://www.instagram.com/arte_kiwi/" target="_blank" class="color-gray"><i class="fab fa-instagram font-size-xxl"></i></a>
    </div>
    <div class="col-10 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
      <%= link_to root_path do %>
        <%= image_tag "/img/logo.png", class: "kiwi-navbar-logo" %>
      <% end %>
    </div>
    <div class="col-1 text-center">
      <a id="whatsapp-navbar" href="https://wa.link/btnclx" target="_blank" class="color-gray"><i class="fab fa-whatsapp font-size-xxl"></i></a>
    </div>
  </div>
</nav>

<div id="urlSections" data-label="<%= @label %>" data-slug="<%= @slug %>"></div>

<!-- Product section -->
<section class="d-flex justify-content-center align-items-center">
  <div class="row no-gutters mx-3 py-4" style="max-width: 1220px;">
    <div class="col-12 col-md-6">
      <div id="imageContainer" class="carousel"></div>
    </div>
    <div class="col-12 col-md-6 mt-5 mt-md-0">
      <div class="ml-md-5">
        <div class="row no-gutters">
          <div class="col-12">
            <div id="nameContainer"></div>
          </div>
          <div class="col-12">
            <div id="priceContainer" class="mt-3"></div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-12">
            <div>
              <ul id="descriptionContainer"></ul>
            </div>
          </div>
          <div class="col-12">
            <div id="purchaseContainer" class="mt-3 d-inline-block"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product section -->

<!-- Footer section -->
<%= render partial: "common/footer" %>
<!-- End Footer section -->

