<!DOCTYPE html>
<html>
  <head>
    <title>Arte Kiwi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width">

    <%= stylesheet_pack_tag 'application_pack', media: 'all' %>
    <%= javascript_pack_tag 'application_pack', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="kiwi-vue">
      <%= yield %>
    </div>
  </body>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166028121-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-166028121-1');
  </script>
</html>
